body {
  min-height: 2000px;
  padding-top: 70px;
  
  font-family: "Sawarabi Mincho"; 
}

form{
margin-top: 15px;
}

indexbox {
	font-size: 15px;
}

indexbox>boxtitle{
	font-size: 25px;
}

indexbox>boxauther{
	font-size: 10px;
}

.login-user {
	color: #8B0000;
}

.wf-sawarabimincho { 
	font-family: "Sawarabi Mincho"; 
	}
	
*{
	font-family: "Sawarabi Mincho"; 
	}